/*****************
General
*****************/

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

h2, h3, p {
	text-align: center;
}

body {
	font-family: Oswald, Helvetica;
}




/*****************
Navigation
*****************/

.name {
	text-align: center;
	margin-bottom: 0;
	color: black;
}

.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
	color: black;
	font-weight: 600;
}

.main-nav a:hover {
	color: grey;
}

ul.main-nav {
padding-left: 0;
}

/*****************
header
*****************/

.main-header {
	padding-bottom: 15px;
}

/*****************
colors
*****************/

.main-header, .banner, footer {
	background: #fffff8;
}

/*****************
banner
*****************/
.banner {
	font-size: 1.2em;
	text-align: center;
}

.banner-text {
	padding-right: .7em;
	padding-left: .7em;
	color: grey;
}

.profile-image {
	width: 60%;
}

/*****************
experience
*****************/

.experience-info {
	margin-top: 60px;
}

.experience-info p {
	font-size: 1.3em;
	font-weight: 300;
	padding-top: 30px;
}

/*****************
span
*****************/

.love {
	color: firebrick;
}


/*****************
Layout
*****************/

.first, .second, .third, .fourth, .fifth {
	margin-bottom: 50px;
}


.portfolio-heading {
	padding-top: 50px;
	padding-bottom: 30px;
}

.contact-heading {
	padding-top:  60px;
}

.container {
	padding-right: .7em;
	padding-left: .7em;
}


/*****************
footer nav
*****************/

li.footer-nav-item {
	display: none;
}

.footer-name {
	float: left;
}

.footer-nav {
	float: right;
}

.footer-nav a:hover {
	color: grey;
}

.footer-nav li {
	display: inline-block;
}

li.footer-nav-item {
	display: none;
}




/*****************
footer
*****************/

footer {
	margin-top: 35px;
}

.foot-container {
	border-top: 1px solid lightgrey;
	margin-top: 75px;
}

.contact-info p, .contact-info ul, .contact-info a {
	color: grey;
}

ul.contact-ul {
	padding-left: 0;
}

.contact-ul li {
	margin-bottom: 15px;
	text-align: center;
}

.contact-ul a {
	padding-left: 11px;
	font-weight: bold;
}

/*****************
clearfix
*****************/
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


@media (min-width: 768px) {
  .col {
  	float: left;

  }

  li.footer-nav-item {
	display: inline-block;
	padding-left: 20px;
	font-weight: 600;
  }

  li.back-to-top {
  	display: none;
  }

  .container {
  	width: 90%;
  	margin: 0 auto;
  }


  .first, .second, .third, .fourth, .fifth, .sixth {
  	width: 45%;
  	padding-right: 2.5%;
  	padding-left: 2.5%;
  	height: 325px;
  	margin-bottom: 30px;
  }

  .main-nav {
  	text-align: center;
  }

  .main-nav li {
  	display: inline-block;
  }

  .banner {
  	margin-top: 30px;
  }

  .banner-text {
  	 font-size: 1.2em;
     float: left;
     width: 51%;
     text-align: left;
     padding: 0;
     margin: 0;
  }

  .profile-image {
  	float: right;
  	width: 41%;
  }

  .contact-info p {
  	font-size: 1.3em;
  	width: 80%;
  	margin: 30px auto;
  }

  .contact-ul {
  	text-align: center;
  	font-size: 1.3em;
  }
}

@media (min-width: 1024px) {
    
    .name {
    	float: left;
    }

    .main-nav {
    	float: right;

    }

    .contact-heading {
    	padding-top: 22px;
    }

	.container {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}

	.first, .second, .third, .fourth, .fifth, .sixth {
  	width: 30%;
  	padding-right: 1.6%;
  	padding-left: 1.6%;
  }
}